<div>
    
    <div>
        <button id="btnData" class="btn btn-primary btn-algemene-layout">Data importeren en exporteren</button></div>
    <div>
        <button id="btnLayout" class="btn btn-primary btn-algemene-layout" >Layout aanpassen</button>
    </div>
    <div>
        <button id="btnNietIngelogd" class="btn btn-primary btn-algemene-layout">Instellingen niet-ingelogde gebruiker</button>
    </div>
</div>
