<h3>Gemonitorde items beheren</h3>

@* Alle items weergeven met een checkbox, voorlopig dummy-data *@

<div class="container">

            <div class="row">
                <div class="col-md-4">

                    <h4>Organisatie</h4>

                    @*@Html.Partial("Organisaties")*@




                    @*<div>
                        <input type="checkbox" />
                        <label>Item 1</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 2</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 3</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 4</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 5</label>
                    </div>*@


                </div>

                <div class="col-md-4">
                    <h4>Persoon</h4>

                    


                    @*<div>
                        <input type="checkbox" />
                        <label>Item 1</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 2</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 3</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 4</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 5</label>
                    </div>*@


                </div>

                <div class="col-md-4">
                    <h4>Thema</h4>

                    


                    @*<div>
                        <input type="checkbox" />
                        <label>Item 1</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 2</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 3</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 4</label>
                    </div>

                    <div>
                        <input type="checkbox" />
                        <label>Item 5</label>
                    </div>*@


                </div>

            </div>

</div>

<button class="btn btn-primary btn-algemene-layout">Opslaan</button>

@section scripts {
        
    


}



