<h3>Sociale mediabronnen instellen</h3>

<div>
    <ul id="lstBronnen">
        <li> bron 1 <button>verwijderen</button> <button>bewerken</button> </li>
        <li> bron 2 <button>verwijderen</button> <button>bewerken</button> </li>
        <li> bron 3 <button>verwijderen</button> <button>bewerken</button> </li>
    </ul>
</div>

<div>
    <button class="btn btn-primary btn-algemene-layout" id="btnBronToevoegen">Voeg een bron toe</button>
</div>

<div>
    <button class="btn btn-primary btn-algemene-layout">Opslaan</button>
</div>