<div>
    
    <canvas id="lineChartAantalTweets" height="250"></canvas>

</div>


<script>


    var dagen = @Html.Raw(Json.Encode(ViewBag.ItemDagen));
    var aantalTweets = @Html.Raw(Json.Encode(ViewBag.ItemAantalTweets));
    var grafiekTitel = @Html.Raw(Json.Encode(ViewBag.Grafiektitel));



    GrafiekOpbouwen("lineChartAantalTweets", grafiekTitel, "line", false, true, true, true, true, false, true, 90, 0, "x", "y", dagen,
    null, null, null, null, null, aantalTweets, null, null, null, null, null, null, null, null, null, null, null, null, null, null)


</script>



@*<script>
        function grafiekVerwijderen(id) {
            var lengteId = id.substring(id.indexOf("-") + 1, id.length - 1).length;
            var subid;

            if (lengteId == 0) {
                subid = id.substring(id.length - 1);
            } else if (lengteId > 0) {
                subid = id.substring(id.indexOf("-") + 1, id.length - 1);
            }

            var grafiekVerwijderen = confirm("Ben je zeker dat je de grafiek wilt verwijderen?");
            if (grafiekVerwijderen == true) {
                $("canvas#" + subid).remove()

                $("#verwijderen-" + subid).remove();
                $("#bewerken-" + subid).remove();

            }
        }

        function grafiekBewerken(id) {

            var lengteId = id.substring(id.indexOf("-") + 1, id.length - 1).length;
            var subid;

            if (lengteId == 0) {
                subid = id.substring(id.length - 1);
            } else if (lengteId > 0) {
                subid = id.substring(id.indexOf("-") + 1, id.length - 1);
            }


            $("#modalGrafiekAanpassen").modal();

            $.get('@Url.Action("LaadGrafiekAanpassen", "Dashboard")', {}, function (resultaat) {
                $("#divGrafiekAanpassen").html(resultaat);
            });

        }

    </script>*@