@{
  ViewBag.Title = "Confirm Email";
}

<h2>Email bevestigen</h2>
<div>
    <p>
        Bedankt om uw email te bevestigen. @Html.ActionLink("Klik hier om in te loggen.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>